---
import "../styles/global.css";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<html lang="de" class="bg-gray-200 text-zinc-900 dark:bg-slate-950 dark:text-gray-50">
    <head>
        <meta charset="utf-8" />
        <meta name="darkreader-lock" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <!-- Meta Description -->
        <meta name="description" content={description} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />

        <!-- Twitter -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
    </head>
    <body>
        <slot />
    </body>
</html>