---
import "../styles/global.css";
import Background from "../assets/background.svg";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<html lang="de" class="bg-gray-900 text-center text-white">
    <head>
        <meta charset="utf-8" />
        <meta name="darkreader-lock" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <!-- Meta Description -->
        <meta name="description" content={description} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />

        <!-- Twitter -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
    </head>
    <body>
        <img src={Background.src} alt="Background" class="fixed top-0 left-0 w-full h-full object-cover" />
        <slot />
    </body>
</html>